In [1]:
students = ['Ivan', 'Masha', 'Sasha']

In [2]:
for student in students:
    print('Hello, '+student+'!')

Hello, Ivan!
Hello, Masha!
Hello, Sasha!

In [3]:
students[0]

'Ivan'

In [4]:
students[-1]

'Sasha'

In [5]:
students[:2]

['Ivan', 'Masha']

In [6]:
students[::-1]

['Sasha', 'Masha', 'Ivan']

In [7]:
len(students)

3

In [8]:
teachers=['Oleg', 'Alex']

In [9]:
students+teachers

['Ivan', 'Masha', 'Sasha', 'Oleg', 'Alex']

In [10]:
[0,1]*4

[0, 1, 0, 1, 0, 1, 0, 1]

# изменение списков

In [12]:
students = ['Ivan', 'Masha', 'Sasha']
students[1] = 'Oleg'
print(students)

['Ivan', 'Oleg', 'Sasha']

In [15]:
students = ['Ivan', 'Masha', 'Sasha']
students.append('Olga')
print(students)

['Ivan', 'Masha', 'Sasha', 'Olga']

In [17]:
students += ['Olga']
print(students)

['Ivan', 'Masha', 'Sasha', 'Olga', 'Olga', 'Olga']

In [18]:
students +=['Boris','Sergey']
print(students)

['Ivan', 'Masha', 'Sasha', 'Olga', 'Olga', 'Olga', 'Boris', 'Sergey']

In [19]:
students = ['Ivan', 'Masha', 'Sasha']
students.insert(1, 'Olga')
print(students)

['Ivan', 'Olga', 'Masha', 'Sasha']

### задача

In [23]:
students = ['Ivan', 'Masha', 'Sasha']
print(len(students), students)
students+=['Olga']
print(len(students), students)
students+= 'Olga'
print(len(students), students)

3 ['Ivan', 'Masha', 'Sasha']
4 ['Ivan', 'Masha', 'Sasha', 'Olga']
8 ['Ivan', 'Masha', 'Sasha', 'Olga', 'O', 'l', 'g', 'a']

In [24]:
students = ['Ivan', 'Masha', 'Sasha']
students.remove('Sasha')
print(students)

['Ivan', 'Masha']

In [26]:
students = ['Ivan', 'Masha', 'Sasha']
del students[0]
print(students)

['Masha', 'Sasha']

In [30]:
students = ['Ivan', 'Masha', 'Sasha']
if 'Ivan' in students:
    print('Ivan is here')
if 'Ann' not in students:
    print('Ann is out')

Ivan is here
Ann is out

In [31]:
ind = students.index('Sasha')
print(ind)

2

In [32]:
ind = students.index('Ann')

ValueError: 'Ann' is not in list

### сортировка

In [39]:
students = ['Sasha', 'Ivan', 'Masha']
ordered_students = sorted(students)
print(students)
print(ordered_students)

print(students)
students.sort()
print(students)

print(min(students))
print(max(students))

['Sasha', 'Ivan', 'Masha']
['Ivan', 'Masha', 'Sasha']
['Sasha', 'Ivan', 'Masha']
['Ivan', 'Masha', 'Sasha']
Ivan
Sasha

In [42]:
students = ['Sasha', 'Ivan', 'Masha']
reversed_students = reversed(students)
print(students)
print(reversed_students)

print(students)
students.reverse()
print(students)

['Sasha', 'Ivan', 'Masha']
<list_reverseiterator object at 0x000001801B3A5310>
['Sasha', 'Ivan', 'Masha']
['Masha', 'Ivan', 'Sasha']

### присвоение списков

In [46]:
a = [1, 'A', 2]
b = a
print(b)
a[0]=42
print(b)
b[2]=30
print(a)

[1, 'A', 2]
[42, 'A', 2]
[42, 'A', 30]

### Задача

In [47]:
a = [1, 2, 3]
b = a
print(a, b)

a[1] = 10
print(a, b)

b[0] = 20
print(a, b)

a = [5, 6]
print(a, b)

[1, 2, 3] [1, 2, 3]
[1, 10, 3] [1, 10, 3]
[20, 10, 3] [20, 10, 3]
[5, 6] [20, 10, 3]

### Генерация

In [48]:
a = [0] * 5
print(a)

[0, 0, 0, 0, 0]

In [50]:
a = [0 for i in range(5)]
print(a)

[0, 0, 0, 0, 0]

In [51]:
a =[i*i for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [53]:
a = [int(i) for i in input().split()]
print(a)

1 44 22 14
[1, 44, 22, 14]

### задачки

Напишите программу, на вход которой подается одна строка с целыми числами. Программа должна вывести сумму этих чисел.

Используйте метод split строки. ﻿﻿

In [56]:
a = [int(i) for i in input().split()]
s = 0
for i in a:
    s += i
print(s)

2 -3 44 4
47

Напишите программу, на вход которой подаётся список чисел одной строкой. Программа должна для каждого элемента этого списка вывести сумму двух его соседей. Для элементов списка, являющихся крайними, одним из соседей считается элемент, находящий на противоположном конце этого списка. Например, если на вход подаётся список "1 3 5 6 10", то на выход ожидается список "13 6 9 15 7" (без кавычек).

Если на вход пришло только одно число, надо вывести его же.

Вывод должен содержать одну строку с числами нового списка, разделёнными пробелом.

#### Sample Input 1:

1 3 5 6 10
#### Sample Output 1:

13 6 9 15 7
#### Sample Input 2:

10
#### Sample Output 2:

10

In [77]:
a = [int(i) for i in input().split()]
#a = [1, 3, 5, 6, 10]
l = len(a)
if l == 1:
    print(a[0])
else:
    for i in range(l):
        if i==l-1:
            x=int(a[0])
            y=int(a[i-1])
        else:
            x=int(a[i+1])
            y=int(a[i-1])
        print(x+y)

1 3 4 7
10
5
10
5

Напишите программу, которая принимает на вход список чисел в одной строке и выводит на экран в одну строку значения, которые встречаются в нём более одного раза.

Для решения задачи может пригодиться метод sort списка.

Выводимые числа не должны повторяться, порядок их вывода может быть произвольным.

#### Sample Input 1:

4 8 0 3 4 2 0 3
#### Sample Output 1:

0 3 4
#### Sample Input 2:

10
#### Sample Output 2:

#### Sample Input 3:

1 1 2 2 3 3
#### Sample Output 3:

1 2 3
#### Sample Input 4:

1 1 1 1 1 2 2 2
#### Sample Output 4:

1 2

In [99]:
a = [int(i) for i in input().split()]
#a = [4, 8, 0, 3, 4, 2, 0, 3]

for i in sorted(a):
    c = a.count(i)
    if c > 1:
        print(i, end=' ')
        for _ in range(c):
            a.remove(i)

4 8 0 3 4 2 0 3
0 3 4

# Двумерные списки

In [100]:
 a = [[1,2,3], [4,5,6], [7,8,9]]

In [101]:
a[1]

[4, 5, 6]

In [102]:
a[1][1]

5

## Генерация

In [112]:
n = 3
a = [[0]*n]*n
print(a)
a[0][0] = 5
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 0, 0], [5, 0, 0], [5, 0, 0]]

In [113]:
n = 3
a = [[0] * n for i in range(n)]
print(a)
a[0][0] = 5
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 0, 0], [0, 0, 0], [0, 0, 0]]

In [114]:
n = 3
a = [[0 for j in range(n)] for i in range(n)]
print(a)
a[0][0] = 5
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[5, 0, 0], [0, 0, 0], [0, 0, 0]]

### поиск минимума в списке

In [115]:
a = [int(i) for i in input().split()]
m = a[0]
for x in a:
    if m > x:
        m=x
print(m)

5 8 4 5 3 7
3

### Сапер

In [7]:
n, m, k = (int(i) for i in input().split())
a = [[0 for j in range(m)] for i in range(n)]
for i in range(k):
    row, col = (int(i) -1 for i in input().split())
    a[row][col] = -1
for i in range(n):
    for j in range(m):
        if a[i][j] == 0:
            for di in range(-1, 2):
                for dj in range(-1, 2):
                    ai = i + di
                    aj = j + dj
                    if 0 <= ai < n and 0 <= aj < m and a[ai][aj] == -1:
                        a[i][j] += 1
for i in range(n):
    for j in range(m):
        if a[i][j] == -1:
            print('*', end='')
        elif a[i][j] == 0:
            print('.', end='')
        else:
            print(a[i][j], end='')
    print()

5 4 4
1 1
2 2
3 2
4 4
*21.
3*2.
2*31
112*
..11

Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и сразу после этого выводит сумму квадратов всех считанных чисел.

Гарантируется, что в какой-то момент сумма введённых чисел окажется равной 0, после этого считывание продолжать не нужно.

В примере мы считываем числа 1, -3, 5, -6, -10, 13; в этот момент замечаем, что сумма этих чисел равна нулю и выводим сумму их квадратов, не обращая внимания на то, что остались ещё не прочитанные значения.﻿

### Sample Input:

1
-3
5
-6
-10
13
4
-8
### Sample Output:

340

In [22]:
#a = [1, -3, 5, -6, -10, 13, 4, -8]
a = []
_sum=1
_sum2 = 0
while _sum!=0:
    _sum=0
    a.append(input())
    for i in a:
        _sum += int(i)
for i in a:
    _sum2 += int(i) ** 2
print(_sum2)

1
-3
5
-6
-10
13
340